body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

img {
    width: 25%;
}
 
ul {
    list-style: circle;
    text-align: left;
}

li {
    font-weight: bold;
}

.task1 {
    color: chocolate;
}
 .task2 {
    color: olive;
 }